<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-09-18T04:31:31Z</date>
	<key>WorkspacePath</key>
	<string>/Users/fls281/Development/Vapor/ChrisLonge/ChrisLonge.xcodeproj</string>
</dict>
</plist>
